html,body,#tableContainer {
  height: 100%;
  min-height:  100%;
  margin: 0;
}
#topTable {
    display: inline-table;
    height: 50%;
    width: 100%;
}
#bottomTable {
    display: inline-table;
    height: 50%;
    width: 100%;
}
#MainPage {
    text-align: center;
    padding-top: 15px;
}
#StartGame {
    height: 30px;
}
label {
    font-family: Arial;
}

#secbar {
    width: 50%;
    text-align:center;
    line-height: 200%
}

#secbar .ui-progressbar-value {
    background-image: url('images/progressBar.png');
}

#secs {
    font-weight: bold;
    position: absolute;
}

/*.outer {
    width: 20px;
    height: 190px;
    border: 2px solid #ccc;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display:inline-block;
}*/

/*.inner {
    width: 100%;
    overflow: hidden;
    position: absolute;
    border-top-width: 0;
    background-image: url('images/progressBar2.png');
    background-size: 20px;
    bottom: 0;
    height: 0%;
    left: 0;
    right: 0;
    display:inline-block;
}*/

/*.imgdiv{
    float: left;
    align-items:center;
}*/
.images{
    display:inline-block;
}

.progress{
    display: inline-block;
}

/*.progressTable{
    height: 100%;
    border-radius: 8px;
    border: solid;
    border-color: #808080;
    display:inline-block;
}*/

/*.progressCells{
    border:none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}*/

.progBars{
    height: 100%;
    border-radius: 4px;
    border: solid;
    border-color: #C0C0C0; 
    /*border-color: #FFD700;*/
    border-width: 2px;
    box-shadow: none;
}

.numVoteslabel {
    font-family: Arial;
    font-size:smaller;
}

.progLabel{
    font-family: Arial;
    font-size:smaller;
}

#numToWait {
    font-size: 150%;
    color: purple;
    font-weight: bold;
}
#numP {
    font-size: 120%;
    color: royalblue;
    font-weight: bold;
}
#currplayer {
    font-size: 110%;
    font-weight: bold;
    color: royalblue;
}

#turnsLeftnum {
    font-size: 110%;
    font-weight: bold;
    color: crimson;
}
#infopanel {
    padding-top: 50px;
    color: black;
    border: solid 1px #2d2d2d;   
    background:lightgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2%;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow: 7px 10px 17px #101410;
    -webkit-box-shadow: 7px 10px 17px #101410;
    box-shadow: 7px 10px 17px #101410;
}
#tableContainer > table:nth-child(1) > tbody > tr > td:nth-child(1) {
    padding-top: 1%;
    padding-left: 1%;
}
#waitImg {
    height: 50%;
    display: inline-table;
}

#voteStatus {
    padding-top: 50%;
    font-family: Arial;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 1px 2px 3px #666;

}
#turnStatus {
    font-size: large;
}
#turnsToWait {
    font-size: large;
}