html,#tableContainer {
  height: 100%;
  min-height:  100%;
  margin: 0;
}
body {
    background-image: url('images/background.jpg');
    height: 100%;
    min-height: 100%;
    margin: 0;
}
#topTable {
    display: inline-table;
    height: 50%;
    width: 100%;
}
#bottomTable {
    display: inline-table;
    height: 50%;
    width: 100%;
}
#MainPage {
    text-align: center;
    padding-top: 15px;
}
#StartGame {
    height: 30px;
}
label {
    font-family: Arial;
}

#secbar {
    width: 50%;
    text-align:center;
    line-height: 200%
}

#secbar .ui-progressbar-value {
    background-image: url('images/progressBar.png');
}

#secs {
    font-weight: bold;
    position: absolute;
}

/*.outer {
    width: 20px;
    height: 190px;
    border: 2px solid #ccc;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display:inline-block;
}*/

/*.inner {
    width: 100%;
    overflow: hidden;
    position: absolute;
    border-top-width: 0;
    background-image: url('images/progressBar2.png');
    background-size: 20px;
    bottom: 0;
    height: 0%;
    left: 0;
    right: 0;
    display:inline-block;
}*/

/*.imgdiv{
    float: left;
    align-items:center;
}*/
.images{
    display:inline-block;
}

.progress{
    display: inline-block;
}

/*.progressTable{
    height: 100%;
    border-radius: 8px;
    border: solid;
    border-color: #808080;
    display:inline-block;
}*/

/*.progressCells{
    border:none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}*/

.progBars{
    height: 100%;
    border-radius: 4px;
    border: solid;
    border-color: #C0C0C0; 
    /*border-color: #FFD700;*/
    border-width: 2px;
    box-shadow: none;
}

.numVoteslabel {
    font-family: Arial;
    font-size:medium;
}

.progLabel{
    font-family: Arial;
    font-size:smaller;
}

#numToWait {
    font-size: 150%;
    color: purple;
    font-weight: bold;
}
#numP {
    font-size: 120%;
    color: royalblue;
    font-weight: bold;
}
#currplayer {
    font-size: 110%;
    font-weight: bold;
    color: royalblue;
}

#turnsLeftnum {
    font-size: 110%;
    font-weight: bold;
    color: crimson;
}
#infopanel {
    padding-top: 50px;
    color: black;
    border: solid 1px #2d2d2d;   
    background:lightgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2%;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow: 7px 10px 17px #101410;
    -webkit-box-shadow: 7px 10px 17px #101410;
    box-shadow: 7px 10px 17px #101410;
}

.prefTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}.prefTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.prefTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.prefTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.prefTable table tr:first-child td:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}.prefTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}.prefTable tr:hover td{
	background-color:#ffffff;
		

}
.prefTable td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:6px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.prefTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.prefTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.prefTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.prefTable tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.prefTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.prefTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.prefTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


#tableContainer > table:nth-child(1) > tbody > tr > td:nth-child(1) {
    padding-top: 1%;
    padding-left: 1%;
}
#waitImg {
    height: 50%;
    display: inline-table;
}

#voteStatus {
    padding-top: 50%;
    font-family: Arial;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 1px 2px 3px #666;

}
#turnStatus {
    font-size: large;
}
#turnsToWait {
    font-size: large;
}

.candsNames {
    text-align: center;
    font-family:Arial;
    font-style:italic;
    font-weight: bold;
}

.survyB {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.survyB:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.survyB:active {
	position:relative;
	top:1px;
}
.survyB:visited {
    display: none;
}